.launch {

  &__container {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3bbf3b;
  }

  &__controls {
    &__container {
      min-width: 227px;
      max-width: 227px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 10px;
    }

    &__button {
      background-color: white;
      border: 2px solid #a6a6a6;
      border-radius: 5px;
      padding: 10px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
      box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
      transition: transform 0.2s, background-color 0.2s;
    }

    &__button:hover {
      transform: scale(1.1);
      cursor: pointer;
    }

    &__button:active {
      background-color: #3bbf3b;
    }
  }

  &__login {
    &__container {
      background-color: white;
      border: 2px solid #a6a6a6;
      border-radius: 5px;
      padding: 20px;
      -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
      box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
    }

    &__error {
      font-weight: bold;
      color: white;
      text-shadow: 4px 4px 10px rgba(0, 0, 0, 1);
    }

    &__loading {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 20px;
      font-weight: bold;
      color: white;
      text-shadow: 4px 4px 10px rgba(0, 0, 0, 1);
    }

    &__input--container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }

    &__input--title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 5px;
    }

    &__input--input {

    }

    &__button {
      display: flex;
      align-self: center;
      justify-content: center;
      align-items: center;
      background-color: white;
      border: 2px solid #a6a6a6;
      border-radius: 5px;
      margin-top: 20px;
      padding: 5px;
      padding-left: 20px;
      padding-right: 20px;
      transition: transform 0.2s, box-shadow 0.2s;
    }

    &__button:hover {
      transform: scale(1.1);
      -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
      box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
      cursor: pointer;
    }

    &__button:active {
      background-color: #3bbf3b;
    }

  }

}
