.settings {

  &__container {
    margin: 0;
    height: 100%;
    background-color: #3bbf3b;
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: center;
    border-right: 3px solid #a6a6a6;
  }

  &__wrapper {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__setting {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
  }

  &__crb {
    &__container {
      margin-top: 20px;
    }
  }

  &__password {
    &__container {
      display: flex;
      flex-direction: column;
    }

    &__title {
      font-size: 16px;
      color: white;
      font-weight: bold;
    }

    &__input {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

}
