.switch {

  &__container {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 20px;
  }

  &__container:hover {
    cursor: pointer;
  }

  &__title {
    margin-left: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__container input {
    display: none;
  }

  &__input:checked + &__slider {
    background-color: #2196F3;
  }

  &__input:focus + &__slider {
    box-shadow: 0 0 1px #2196F3;
  }

  &__input:checked + &__slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }

  &__slider {
    border: 1px inset #a6a6a6;
    border-radius: 3px;
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(71,71,71,1);
    -moz-box-shadow: inset 0px 0px 10px 0px rgba(71,71,71,1);
    box-shadow: inset 0px 0px 10px 0px rgba(71,71,71,1);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
  }

  &__slider:before {
    border-radius: 3px;
    border: 1px outset #a6a6a6;
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 0.5px;
    bottom: 0.5px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
  }

}
